.restoraneName {
	padding: 10px;
	background: #deebff;
	font-weight: bold;
	margin: 0px 5px;
	border-radius: 1em;
	cursor: pointer;
	border: 1px solid transparent;
}
.restoraneName:hover {
	background: transparent;
	border: 1px solid #deebff;
}
.restoraneName.active {
	border: 1px solid transparent;
	background: #004cff;
	color: #fff;
}
