.restoraneList {
	background: #f2f2f2;
	margin: 20px auto;
	padding: 10px;
}
.restoraneItem {
	background: #fff;
	padding: 10px;
	margin: 10px 10px;
	border-top: 3px solid #004cff;
	border-radius: 1em;
	box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}
.restoraneSelector {
	font-weight: bold;
	border-radius: 1em;
	border: 1px solid #838fa2;
	text-decoration: none;
	font-size: 14px;
	padding: 4px 10px;
	margin: 1px;
	color: inherit;
}
.menuNavigation {
	text-align: center;
	color: inherit;
	text-decoration: none;
	background: #deebff;
	border-radius: 1em;
	padding: 10px;
	transition: 0.2s;
	text-decoration: none;
	margin: 0px 1px;
}
.menuNavigation:hover {
	background: #004cff;
	color: #fff;
}

.white {
	background: #deebff;
	cursor: pointer;
	border: 1px solid transparent;
}
.dark {
	background: #1c2633;
	color: #fff;
}
.dark:hover {
	background: #3c516e;
	color: #fff;
}
