body {
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
	background: #e9e9e9;
	border-bottom: 1px solid rgb(0 0 0 / 5%);
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}
.header-title {
	text-transform: uppercase;
	font-weight: bold;
}
.header-user {
	background: #fff;
	border-radius: 1em;
	padding: 10px;
}
.restorane-list {
	background: #f2f2f2;
	margin: 20px auto;
	padding: 10px;
}
.restorane-names {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.restorane-item {
	background: #fff;
	padding: 10px;
	margin: 10px 10px;
	border-top: 3px solid #004cff;
	border-radius: 1em;
}
.restorane-name {
	padding: 10px;
	background: #deebff;
	font-weight: bold;
	margin: 0px 5px;
	border-radius: 1em;
	cursor: pointer;
	border: 1px solid transparent;
}
.restorane-name:hover {
	background: transparent;
	border: 1px solid #deebff;
}
.restorane-name.active {
	border: 1px solid transparent;
	background: #004cff;
	color: #fff;
}
.restorane-catalog,
.restorane-reviews {
	border: 1px dashed #e5eeff;
	padding: 10px;
	list-style: none;
	border-radius: 1em;
}
.restorane-catalog li,
.restorane-reviews li {
	margin: 2px 0px;
	padding: 5px;
}
.restorane-catalog li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.counters {
	display: flex;
	align-items: center;
	padding: 2px 2px;
	margin: 0px 10px;
	background: #deebff;
	border-radius: 1em;
}
.counter {
	width: 40px;
	border-radius: inherit;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}
.counter:hover {
	filter: brightness(1.3);
}
.counter-plus {
	background: #2b692e;
}
.counter-minus {
	background: #c95134;
}
.counter-value {
	margin: 0px 5px;
	background: #fff;
	padding: 0px 20px;
	border-radius: inherit;
}
.active .restorane-body {
	display: block;
}
footer {
	background: #e9e9e9;
	border-top: 1px solid rgb(0 0 0 / 5%);
	padding: 10px;
	text-align: center;
}
