.form {
	border: 1px dashed #e5eeff;
	padding: 10px;
	list-style: none;
	border-radius: 1em;
}
.formInput {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.formInput label {
	margin-bottom: 4px;
}
.formInput input {
	border: 1px solid #deebff;
	background: #fff;
	padding: 10px;
	border-radius: 1em;
	outline-color: #004cff;
}
.formClear {
	background: #676767;
	padding: 10px 20px;
	border-radius: 1em;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 10px 0px;
}
.formRating {
	margin-top: 10px;
}
.formRatingTitle {
	margin-bottom: 4px;
	display: block;
}
.formClear:hover {
	filter: brightness(1.2);
}
