.restoraneList {
	background: #f2f2f2;
	margin: 20px auto;
	padding: 10px;
}
.restoraneItem {
	background: #fff;
	padding: 10px;
	margin: 10px 10px;
	border-top: 3px solid #004cff;
	border-radius: 1em;
	box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}
.restoraneSelector {
	font-weight: bold;
	border-radius: 1em;
	border: 1px solid #838fa2;
	text-decoration: none;
	font-size: 14px;
	padding: 4px 10px;
	margin: 1px;
	color: inherit;
}
.tabSection {
	margin: 30px 0px;
}
.tabSection a {
	margin: 0px 5px;
}
.tabSection a:first-child {
	margin: 0px;
}
