.linksNavigation {
	color: inherit;
	text-decoration: none;
	background: #deebff;
	border-radius: 1em;
	padding: 10px;
	width: 100%;
	transition: 0.2s;
	text-decoration: none;
	border: 1px solid transparent;
}
.linksNavigation:hover {
	background: #004cff;
	color: #fff;
}
.linksNavigation.active {
	background: #004cff;
	color: #fff;
}
.white {
	background: #deebff;
	cursor: pointer;
	border: 1px solid transparent;
}
.dark {
	background: #1c2633;
	color: #fff;
}
.dark:hover {
	background: #3c516e;
	color: #fff;
}
