.restoraneReviews {
	border: 1px dashed #e5eeff;
	padding: 10px;
	list-style: none;
	border-radius: 1em;
}
.restoraneReviews li {
	margin: 2px 0px;
	padding: 5px;
}
.restoraneCatalog li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
