.restorane_item {
	background: #fff;
	padding: 10px;
	margin: 10px 10px;
	border-top: 3px solid #004cff;
	border-radius: 1em;
	box-shadow: 0 0 10px 2px rgb(0 0 0 / 6%);
}
.restorane_catalog,
.restorane_reviews {
	border: 1px dashed #e5eeff;
	padding: 10px;
	list-style: none;
	border-radius: 1em;
}
.restorane_catalog li,
.restorane_reviews li {
	margin: 2px 0px;
	padding: 5px;
}
.restorane_catalog li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
