.counters {
	display: flex;
	align-items: center;
	padding: 2px 2px;
	margin: 0px;
	background: #deebff;
	border-radius: 1em;
	width: fit-content;
}
.counter {
	width: 40px;
	border-radius: inherit;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}
.counter:hover {
	filter: brightness(1.3);
}
.counterPlus {
	background: #2b692e;
}
.counterMinus {
	background: #c95134;
}
.counterValue {
	margin: 0px 5px;
	background: #fff;
	padding: 0px 20px;
	border-radius: inherit;
}
